<!DOCTYPE html>
<html>
<head>
    <title>网站列表-<%= config.site.title %></title>
    <meta name="keywords" content="<%= config.site.keywords %>"/>
    <meta name="description" content="<%= config.site.description %>"/>
    <% include ./inc/lib.ejs %>
</head>
<body>
<% include ./inc/nav.ejs %>
<div class="s-header">
    <h1>网站列表</h1>
    <p class="lead">网站列表是指正在使用WeNAT服务的用户，你可以点击链接查看他们开启的网站。</p>
</div>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <td>前缀</td>
            <td>域名</td>
            <td>开启时间</td>
        </tr>
    </thead>
    <tbody>
    <%
        Date.prototype.format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    %>
        <%for(var i in data.clients){%>
        <tr>
		<% if(i=="autoware"){ %>
		<td>-------</td>
		<td>
		  <a href="javascript:void(0);">该用户隐藏了域名</a>
		</td>
		<%}else {%>
		<td><%=i%></td>
	            <td>
		     <a href="http://<%=i%>.wezoz.com" target="_blank">http://<%=i%>.wezoz.com</a>
		   </td>
		<%}%>

            <td><%=new Date(data.clients[i].time).format("yyyy-MM-dd hh:mm:ss")%></td>
        </tr>
        <%}%>
    </tbody>
</table>
</div>
<% include ./inc/footer.ejs %>
</body>
</html>
